* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-card {
  padding: 10px;
  border-radius: 10px;
  width: 16rem;
  height: 19rem;
  border: 2px solid black;
}

.card {
  width: 100%;
  height: 16rem;
  border-radius: 10xp;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 5rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 3rem;
  font-size: 1.75rem;
  background-color: rgb(235, 186, 95);
  color: #fafafa;
}

.cardContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.75rem;
  padding: 1.5rem 0 0 0;
  margin-top: 5rem;
}

.home {
  overflow-x: hidden;
}

.login-container {
  width: 30vw;
  border: 2px solid black;
  padding: 1.5rem;
  border-radius: 10px;
  margin: 7rem auto;
}

.login-container fieldset{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
}

.login-container input {
  width: 70%;
  font-size: 0.90rem;
}

.login {
  padding: 0.2rem 1.5rem;
  font-size: 1.5rem;
}

.LoginButton {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 1.5rem;
}

.drag-area {
  width: 50vw;
  height: 70vh;
}

.drag-over {
  background-color: bisque;
}